*
{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.noticia
{
    text-align: center;
    
    margin: auto;
}

.picture{
    margin: auto;
    width:auto;
    text-align: center;
}

.newspaper 
           
{
    column-count: 3;
    column-gap: 40px;
}